body {
  min-width: 800px;
  min-height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #212121;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.menu>button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 12px 0;
}

#canvas {
  background-color: lightgray;
  margin: 0;
}

#console {
  background-color: black;
  margin: 0;
}